/* CSS Document */
#nav{
	background-color:black;
	height:40px;
	margin-bottom:10px;
	}
#nav table{
 margin:0 0px 0px 190px;
 width:990px;
 }
#nav td{
	padding:8px 20px 8px 20px;}
#nav a{
 font-family:"Î¢ÈíÑÅºÚ";
 font-size:1.2em;
 color:white;
 text-decoration:none;}
 #first{
 	background:red;
	}

